<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="serviceRetryCount" value="3" />
    <add key="ioRetryCount" value="3" />
    <add key="reportsLocation" value="c:\temp\PowerPositionReports" />
    <add key="SchedulerIntervalInSeconds" value="60" />
  </appSettings>
</configuration>